@using Repositories
@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@{
    var claims = User;
    var jwtToken = ViewContext.HttpContext.Request.Cookies["token"];
    string userName = "";
    var isManager = false;
    if(string.IsNullOrEmpty(jwtToken) && User.Identity.IsAuthenticated)
    {
        ViewContext.HttpContext.Response.Redirect("/Account/Logout");
    }
    if(!string.IsNullOrEmpty(jwtToken) && User.Identity.IsAuthenticated)
    {
        if(claims != null)
        {
            try
            {
                var isConfirmEmail = User.FindFirst(ClaimTypes.Email).Value;
                if (string.IsNullOrEmpty(isConfirmEmail) || isConfirmEmail == "False")
                {
                    ViewContext.HttpContext.Response.Redirect("/Account/EmailConfirm");
                }
                else
                {
                    userName = User.FindFirst(ClaimTypes.NameIdentifier).Value;
                    isManager = User.IsInRole("Manager") || User.IsInRole("Admin");
                }

            }
            catch (Exception ex)
            {
                ViewContext.HttpContext.Response.Redirect("/Account/Logout");
            }


        }
        //ViewContext.HttpContext.Response.Redirect("/Account/EmailReConfirm");
    }
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        IReading
        @* @ViewData["Title"] *@
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" asp-append-version="true" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" asp-append-version="true" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" asp-append-version="true" rel="stylesheet" />
    <link id="pagestyle" href="~/css/material-dashboard.css?v=3.1.0" asp-append-version="true" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/images/layoutHome/logo.png" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" asp-append-version="true" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" asp-append-version="true"></script>
    <script src="~/js/chatv1.js" defer asp-append-version="true"></script>
</head>
@* <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script> *@
<body class="g-sidenav-show  bg-gray-200">
    <style>
        .navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }

        div.dt-container div.dt-layout-row{
            margin: .75em 2rem !important;
            width : 95% !important;
        }
        
        .table-responsive1{
            margin-left:1.5rem;
            margin-right:1.5rem;
        }

        .btn1 {
            height: 30px;
            width: 30px;
            padding: 0;
            margin: 0;
        }

        .chat-wrapper1 {
            display: flex;
            height: 60vh;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index:999;
            width: 350px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

            .chat-wrapper1.closed {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }

        /* Chat Area */
        .chat-area1 {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: #f9f9f9;
        }

        .chat-header1 {
            padding: 16px;
            background-color: #E12B6B;
            color: white;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .chat-messages1 {
            flex: 1;
            padding: 16px;
            overflow-y: auto;
        }

        .message1 {
            width: max-content;
            max-width: 35%;
            margin-bottom: 10px;
            padding: 10px 14px;
            border-radius: 18px;
            clear: both;
        }

            .message1.user {
                background-color: #E12B6B;
                color: white;
                align-self: flex-end;
                margin-left: auto;
            }

            .message1.bot {
                background-color: #e0e0e0;
                align-self: flex-start;
                margin-right: auto;
            }

        .chat-input1 {
            display: flex;
            padding: 10px;
            border-top: 1px solid #ccc;
            background-color: #fff;
        }

            .chat-input1 input {
                flex: 1;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .chat-input1 button {
                margin-left: 10px;
                padding: 10px 20px;
                background-color: #E12B6B;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                .chat-input1 button:hover {
                    background-color: #0056b3;
                }

        /* Close/Open button */
        .toggle-btn {
            font-size: 20px;
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
        }

            .toggle-btn:hover {
                color: #ff6666;
            }
    </style>
    <aside style="z-index:1" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="/Admin">
                <img src="~/images/layoutHome/logo.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">IReading</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        @if(claims != null)
        {
            <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    @if (claims.IsInRole("Author") || claims.IsInRole("Manager") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item ml-2" style="padding-left:1.5rem;margin-bottom:0.2rem;margin-top:0.2rem;font-size: 14px;font-weight:bold">
                            <small class="text-secondary">SÁCH @(claims.IsInRole("Author") ? "CỦA TÔI" : "")</small>
                        </li>
                    }
                    @if (claims.IsInRole("Manager") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" id="ListPostCategoryId" href="/Admin/ListCategories">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">category</i>
                                </div>
                                <span class="nav-link-text ms-1">Danh mục</span>
                            </a>
                        </li>
                    }
                    @if (claims.IsInRole("Author") || claims.IsInRole("Manager") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" id="BooksId" href="/Admin/Books">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">library_books</i>
                                </div>
                                <span class="nav-link-text ms-1">@(claims.IsInRole("Manager") || claims.IsInRole("Admin") ? "Kho sách" : "Đã đăng")</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="StatisticsId" href="/Information/Statistics">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">pie_chart</i>
                                </div>
                                <span class="nav-link-text ms-1">Thống kê</span>
                            </a>
                        </li>
                        @if (claims.IsInRole("Author") || claims.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" id="CreatBookId" href="/Admin/CreateBook">
                                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="material-icons opacity-10">upload_file</i>
                                    </div>
                                    <span class="nav-link-text ms-1">Thêm mới</span>
                                </a>
                            </li>
                        }


                    }
                    @if (claims.IsInRole("Manager") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" id="ListNotificationsId" href="/Information/ListNotifications">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">notifications</i>
                                </div>
                                <span class="nav-link-text ms-1">Thông báo</span>
                            </a>
                        </li>
                    }
                    @if (claims.IsInRole("Manager") || claims.IsInRole("Author") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item ml-2" style="padding-left:1.5rem;margin-bottom:0.2rem;margin-top:0.2rem;font-size: 14px;font-weight:bold">
                            <small class="text-secondary text-uppercase">Báo cáo & hỗ trợ</small>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="UserReport0Id" href="/Information/UserReport/0">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">pest_control</i>
                                </div>
                                <span class="nav-link-text ms-1">Xử lý báo cáo</span>
                            </a>
                        </li>
                        @if (claims.IsInRole("Author") || claims.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" id="UserReport1Id" href="/Information/UserReport/1">
                                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="material-icons opacity-10">support</i>
                                    </div>
                                    <span class="nav-link-text ms-1">Yêu cầu hỗ trợ</span>
                                </a>
                            </li>
                        }
                    }

                    @if (claims.IsInRole("Author") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item ml-2" style="padding-left:1.5rem;margin-bottom:0.2rem;margin-top:0.2rem;font-size: 14px;font-weight:bold">
                            <small class="text-secondary text-uppercase">Tư liệu</small>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="DraftListId" href="/Admin/Drafts">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">edit_note</i>
                                </div>
                                <span class="nav-link-text ms-1">Bản thảo</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="ListConspectusId" href="/Information/ListConspectus">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">receipt_long</i>
                                </div>
                                <span class="nav-link-text ms-1">Đại cương</span>
                            </a>
                        </li>
                    }

                    @if (claims.IsInRole("Manager") || claims.IsInRole("Author") || claims.IsInRole("Admin"))
                    {
                        <li class="nav-item ml-2" style="padding-left:1.5rem;margin-bottom:0.2rem;margin-top:0.2rem;font-size: 14px;font-weight:bold">
                            <small class="text-secondary text-uppercase">Thông tin</small>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="BasicKnowledgeId" href="@(claims.IsInRole("Author") ? "/Information/BasicKnowledge" : "/Information/ListBasicKnowledge")">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">live_help</i>
                                </div>
                                <span class="nav-link-text ms-1">Kiến thức cơ bản</span>
                            </a>
                        </li>
@*                         <li class="nav-item">
                            <a class="nav-link text-white" id="DraftListId" href="/Admin/Drafts">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">receipt_long</i>
                                </div>
                                <span class="nav-link-text ms-1">Các danh hiệu</span>
                            </a>
                        </li> *@
                    }
                    @if (claims.IsInRole("Admin") || claims.IsInRole("Manager"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" id="ListChatId" href="/Information/ListChat">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">forum</i>
                                </div>
                                <span class="nav-link-text ms-1">Đoạn chat</span>
                            </a>
                        </li>
                    }
                    @if (claims.IsInRole("Admin"))
                    {
                        <li class="nav-item ml-2" style="padding-left:1.5rem;margin-bottom:0.2rem;margin-top:0.2rem;font-size: 14px;font-weight:bold">
                            <small class="text-secondary text-uppercase">Tài khoản</small>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="ListAccountId" href="/Information/ListAccount">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">manage_accounts</i>
                                </div>
                                <span class="nav-link-text ms-1">Tài khoản người dùng</span>
                            </a>
                        </li>
                        @*                         <li class="nav-item">
                            <a class="nav-link text-white" id="DraftListId" href="/Admin/Drafts">
                                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="material-icons opacity-10">receipt_long</i>
                                </div>
                                <span class="nav-link-text ms-1">Các danh hiệu</span>
                            </a>
                        </li> *@
                    }
                </ul>
            </div>
        }
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div style="display:none" class="input-group input-group-outline">
                            <label class="form-label">Type here...</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user me-sm-1"></i> @User.Identity.Name
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Account/AccountInformation">Thông tin cá nhân</a>
                            <a class="dropdown-item d-none" href="/Account/BankInformation">Liên kết ngân hàng</a>
                            <a class="dropdown-item" href="/Account/ChangeAccount">Đổi mật khẩu</a>
                            <a class="dropdown-item" href="/Account/Logout">Đăng xuất</a>
                            @* <button class="dropdown-item" onclick="disconnect($('#RoomName').val())">Đăng xuất</button> *@
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
              @RenderBody()
        </div>
    </main>
    @if (claims != null && claims.IsInRole("Author"))
    {
        <div class="chat-wrapper1 closed" id="chatWrapper">
            <input type="text" hidden id="RoomName"/>
            <div class="chat-area1">
                <div class="chat-header1">
                    <div id="chatHeader" onclick="toggleChatShort()"><i style="cursor: pointer;" class="material-icons opacity-10">chat</i></div>
                    <button class="toggle-btn" onclick="toggleChatShort()">×</button>
                </div>
                <div class="chat-messages1 chatContentAuthor" id="chatMessages"></div>
                <div class="chat-input1">
                    <input type="text" id="messageInput1" placeholder="Nhập tin nhắn..." />
                    <button type="button" onclick="sendMessageShort()">Gửi</button>
                </div>
            </div>
        </div>
    }

    <script src="~/js/popper.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">

        let userName = '@userName';

        function clientMessageDiv(message) {
            const container = document.getElementById("chatMessages");

            const userMsg = document.createElement("div");
            userMsg.className = "message1 user";
            userMsg.textContent = message;
            container.appendChild(userMsg);
        }

        function retriveMessageDiv(message){
            const container = document.getElementById("chatMessages");
            const botMsg = document.createElement("div");
            botMsg.className = "message1 bot";
            botMsg.textContent = message;
            container.appendChild(botMsg);
        }

        function sendMessageShort() {
            var roomName = $('#RoomName').val();
            const input = document.getElementById("messageInput1");
            const message = input.value.trim();
            if (!message) return;

            clientMessageDiv(message);

            //send SignalR
            sendMessage(roomName,message);

            input.value = "";
            //container.scrollTop = container.scrollHeight;
        }
        if ('@isManager' == 'False'){
            document.getElementById("messageInput1").addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    sendMessageShort();
                }
            });
            getRoomChat();
        }


        function getRoomChat(){
            $.ajax(
                {
                    url: `/Information/GetRoomChat`,
                    type: "GET",
                    headers:
                    {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    async: true,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        //console.log(data);
                        let container = document.getElementById("chatMessages");
                        data.messagers.forEach(item => {
                            //console.log(item);
                            if (item.createBy == userName) {
                                clientMessageDiv(item.content);
                            }
                            else if (item.createBy == "manager" || item.createBy == "admin") {
                                retriveMessageDiv(item.content);
                            }
                        });
                        $('#RoomName').val(data.roomName);
                        $("#chatMessages").attr("data-roomname", data.roomName);
                        //joinRoom(data.roomName);
                        container.scrollTop = container.scrollHeight;
                    }
                }
            );
        }


        function toggleChatShort() {
            const chatWrapper = document.getElementById('chatWrapper');
            const toggleBtn = document.querySelector('.toggle-btn');

            chatWrapper.classList.toggle('closed');


            if (chatWrapper.classList.contains('closed')) {
                chatHeader.innerHTML = '<i style="cursor: pointer;" class="material-icons opacity-10">chat</i>';
            }
            else{
                chatHeader.innerHTML = 'Chat với quản lý';
            }

            // Change button text based on the state
            if (chatWrapper.classList.contains('closed')) {
                toggleBtn.textContent = 'Open'; 
            } else {
                toggleBtn.textContent = '×'; 
            }
        }

    </script>
</body>
</html>