@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model BookChapter
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@* <button type="button" onclick="document.getElementById('formModal').reset();" class="btn btn-success" data-toggle="modal" data-target="#exampleModalPost">
    Tạo mới
</button> *@
<style>
    .form-control {
        margin-left: 0px !important;
    }

    .highlight-bad-word {
        color: red;
        font-weight: bold;
        text-decoration: underline;

    }

    .ai-feedback{
        border: 1px solid #8080804d;
        border-radius: 6px;
        margin-bottom:2rem;
    }

    button {
        margin-left: 5px;
    }

    .input-group{
        padding-left: 5px !important;
    }

    #loadingSumary, .loadingDiv {
        position:absolute;
        top: 50%;
        right:50%;
    }

    .ql-snow{
        margin-left: 0px !important;
        border-radius: 0.375rem !important;
    }

</style>
<div class="row">
    <form method="post" id="formBody" asp-action="CreateChapterBook">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Thêm chương</h6>
                        <span class="ps-3 text-white" style="font-size:12px">@ViewBag.BookName</span>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="note">
                        <ul>
                            <li>- Hướng dẫn vui lòng xem tại kiến thức cơ bản</li>
                        </ul>
                    </div>
                    <div class="m-4 mt-4 p-0 row">
                        <div class="form-group input-group input-group-outline col-6 p-0">
                            <label>Loại:</label>
                            <select style="width:100%" asp-for="Type" onchange="changeType()" class="form-control">
                                <option value="1">Đăng thường</option>
                                <option class="d-none" value="2">Chèn chương</option>
                                <option class="d-none" value="3">Lưu bản thảo</option>
                            </select>
                        </div>
                        <div class="form-group input-group input-group-outline mt-4 col-6 p-0">
                            <label for="Name">STT bắt đầu: <span id="StartChapterIdText">@ViewBag.StartChapterId</span></label>
                            <input value="@ViewBag.StartChapterId" hidden style="width:100%" type="number" asp-for="ChapterNumber" class="form-control">
                        </div>
                    </div>

                    <div class="table-responsive p-0 m-4 mt-0">
                        <input style="width:100%" type="number" asp-for="BookId" value="@ViewBag.BookId" class="form-control" hidden>
                        <div style="display:block" class="form-group input-group input-group-outline mt-0">
                            <label for="Name">Tên chương:</label>
                            <input style="width:100%" type="text" asp-for="ChapterName" class="form-control" autofocus>
                        </div>
                        <div class="row input-group input-group-outline mt-4">
                            <div style="display:block">
                                <label for="Content">Nội dung chương:</label>
                                <input type="file" style="width:30%;margin-bottom:10px" onchange="changeFile(this)" accept=".docx,.txt,.pdf" class="form-control">
                                <div class="row" style="display:flex">
                                    <div class="col-9">
                                        @* contenteditable="true" *@
                                        <div style="height:19rem;overflow: auto;" id="ContentDiv" class="form-control"></div>
                                        <textarea oninput="getWordNo()" asp-for="Content" type="text" class="d-none form-control" rows="18"></textarea>
                                        <label>Số từ: <span id="wordNoCount">0</span></label>
                                        <input type="number" hidden asp-for="WordNo" />
                                    </div>
                                    <div class="col-3 ai-feedback" style="position:relative">
                                        <ul id="requestContent" style="height:18rem;max-height:18rem;overflow: auto;padding-left:16px">
                                        </ul>
                                        <div id="loadingDivFeedBack" class="dot-elastic loadingDiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex ml-0">
                            <button type="button" onclick="GenerateSummary()" class="btn btn-success mt-4">Tạo tóm tắt bằng AI</button>
                        </div>

                        <div style="position:relative">
                            <div style="display:block" class="input-group input-group-outline mt-4">
                                <label for="Summary">Tóm tắt chương:</label>
                                <textarea style="width:100%" asp-for="Summary" type="text" class="form-control" rows="8"></textarea>
                            </div>
                            <div id="loadingSumary" class="loader"></div>
                        </div>

                        <div style="display:block" class="form-group input-group input-group-outline mt-4">
                            <label for="Name">Thu phí:</label>
                            <input type="text" asp-for="CommentAI" class="form-control d-none">
                            <input type="text" asp-for="InappropriateWords" class="form-control d-none">
                            @if(ViewBag.PaidChapter == true)
                            {
                                <input style="width:100%" type="number" asp-for="Price" class="form-control">
                            }
                            else
                            {
                                <input style="width:100%" type="number" disabled asp-for="Price" class="form-control">
                            }
                            
                        </div>
                        <button type="submit" class="btn btn-success mt-4">Lưu thông tin</button>
                        <button type="button" onclick="SaveDraft()" class="btn btn-warning mt-4 ml-2">Lưu bản thảo</button>
                        @if (@ViewBag.ReturnUrl == "Books")
                        {
                            <button type="button" onclick="window.location.href='/Admin/Books'" class="btn btn-secondary mt-4 ml-2">Quay lại</button>
                        }
                        else
                        {
                            <button type="button" onclick="window.location.href='/Admin/@ViewBag.BookId/ChapterBooks'" class="btn btn-secondary mt-4 ml-2">Quay lại</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/mark.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js" asp-append-version="true"></script>
<script src="~/js/chapterv1.js" asp-append-version="true"></script>
<script type="text/javascript">
    document.getElementById('loadingSumary').classList.add('d-none');
    document.getElementById('loadingDivFeedBack').classList.add('d-none');

    const htmlContent = '@Html.Raw(Model.Content)';
    quill.clipboard.dangerouslyPasteHTML(htmlContent);

    getWordNo();
    // document.getElementById('CreatBookId').classList.add('active');

    function SaveDraft(){
        $('#Type').val('3');
        $('#formBody').submit();
    }

    function changeType(){
        let type = $('#Type').val();
        if (type == 2) {
            $("#ChaperId").attr("hidden", false);
            $('#StartChapterIdText').hide();
        }
        else if (type == 1) {
            $("#ChaperId").attr("hidden", true);
            $('#StartChapterIdText').show();
        }
    }

    function checkChapterContentByAI(content) {
        $('#loadingDivFeedBack').show();
        let formData = new FormData();
        formData.append('Data', content);
        $.ajax(
            {
                url: `/Admin/QuicklyApproveChapterContent`,
                type: "POST",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                data: formData,
                //dataType: "json",
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#loadingDivFeedBack').hide();
                    //console.log(data);
                    let matches = data.match(/<li.*?<\/li>/g);
                    //data = data.replace('<ul>', '').replace('</ul>', '').replace('```html', '').replace('```','');
                    if (data.includes("li")){
                        $('#requestContent').prepend(matches);
                        $('#CommentAI').val(matches);
                    }
                    $('#requestContent').prepend("<br>");

                    const matcheWords = [...data.matchAll(/<li.*?>'(.+?)'\s*=>/g)];
                    const words = matcheWords.map(m => m[1]);
                    //$('#InappropriateWords').val(words);
                    //console.log(words);
                    highlightBadWordsPreserveFormat(words);

                }
            }
        );
    }


    function GenerateSummary(){
        $('#Summary').val('');
        $('#loadingSumary').removeClass('d-none');
        //var summary;
        var input = $('#Content').val();
        var formData = new FormData();
        formData.append('input', input);

        $.ajax(
            {
                url: `/Admin/GenerateSummary`,
                type: "POST",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                data: formData,
                //dataType: "json",
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#loadingSumary').addClass('d-none');
                    //console.log(data);
                    if(data.isSussess == false){
                        notyf.error(data.message);
                        return;
                    }
                    $('#Summary').val(data.data);
                }
            }
        );
    }

</script>