@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    // ViewData["Title"] = "Loại bài viết";
}
@model Category
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style>
    .btn1 {
        height: 30px;
        width: 30px;
        padding: 0;
        margin: 0;
    }

    li.dt-paging-button:hover {
        background-color: white !important;
        border: 1px solid white !important;
        background: white !important;
    }
</style>
<button type="button" onclick="document.getElementById('formModal').reset();" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Tạo mới
</button>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Thể loại truyện</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive table-responsive1 p-0">
                    <table id="tableList" class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên</th>
                                @* <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mô tả</th> *@
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <tr>
                                    <td>
                                        <p id="name-@item.Id" class="mx-3 text-xs font-weight-bold mb-0">@item.Name</p>
                                    </td>
                                    <td class="align-middle">
                                        <button type="button" onclick="showPopup(@item.Id,'@item.Name')" title="Sửa" class="btn1 btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button type="button" onclick="deleteItem(@item.Id)" title="Xóa" class="btn1 btn btn-secondary d-none">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formModal" class="modal-content" method="post" asp-action="UpdateCategory">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thể loại</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display:block" class="form-group input-group input-group-outline">
                    <input type="number" asp-for="Id" id="post-cate-id" hidden />
                    <label for="Name">Tên</label>
                    <input style="width:100%" id="post-cate-name" type="text" class="form-control" asp-for="Name" required placeholder="Tên">
                </div>
@*                 <div style="display:block" class="form-group input-group input-group-outline">
                    <label for="Description">Mô tả</label>
                    <input style="width:100%" id="post-cate-des" type="text" asp-for="Description" class="form-control" placeholder="Mô tả">
                </div> *@
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Lưu thông tin</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('ListPostCategoryId').classList.add('active');
    function showPopup(id,name,des){
        document.getElementById('post-cate-id').value = id;
        document.getElementById('post-cate-name').value = name;
    }
    let table = new DataTable('#tableList', {
        responsive: true
    });
    function deleteItem(id) {
        if (confirm("Bạn có muốn xóa ?") == false) return;
        //var formData = new FormData();
        $.ajax(
            {
                url: `/Admin/DeleteCategory?id=${id}`,
                type: "GET",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                //data: formData,
                //dataType: "json",
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    // if (data.IsSussess == false) {
                    //     notyf.error(data.message);
                    //     return;
                    // }
                    notyf.success(data.message);
                    setTimeout(() => {
                        window.location.href = '/Admin/ListCategories';
                    }, 800);
                }
            }
        );

    }
</script>